﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Surveys</h2>
        <ul>
            <li>Survey1</li>
            <li>Survey2</li>
        </ul>
    </div>
</div>
